# --- MySQL ---
MYSQL_HOST=your-mysql-host
MYSQL_PORT=3306
MYSQL_USER=your-user
MYSQL_PASSWORD=your-password
MYSQL_DB=sakila

# --- MongoDB ---
MONGO_URI=mongodb://user:password@host:port/?authSource=db_name
MONGO_DB=your-db
MONGO_COLLECTION=your-collection-name
